.app-style {
  padding: 100px;
  display: flex;
  gap: 12px;
}

.component-style {
  width: 130px;
  height: 130px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
